$akoa-sunrise: #ed6074;
$akoa-sunrise-light: #ffaf87;
$akoa-sunrise-shadow: #ed6074;
// $akoa-sunrise-hover:

// $akoa-space: #162845;
$akoa-space: #17355d;
$akoa-space-03: rgba(23, 53, 93, 0.03);
$akoa-space-light: #647d9e;
$akoa-space-light-3: rgba(100, 125, 158, 0.3);
$akoa-space-shadow: #17355d;

$akoa-cream: #f5f7fa;

$akoa-grey: #162845;
// $akoa-panels: #162845;
$akoa-panels: white;

$akoa-modal-color: rgb(120, 125, 150);

$akoa-model-background-color: rgb(255, 255, 251);

// $akoa-success:
// $akoa-warning:
// $akoa-error:
// $akoa-info:

$akoa-selected: #34eba1;
$akoa-deselected: #808080;
$akoa-disabled: #808080;
// $akoa-unselected:
