#checkboxes {
  display: block;
  position: relative;
  background-color: transparent;
  border-radius: 25px;
  border: 2px dashed royalblue;
  padding: 1%;
  width: 40%;
  height: auto;
  margin-bottom: 2.5%;
}
