<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
	<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
	<meta http-equiv="Pragma" content="no-cache">
	<meta http-equiv="Expires" content="0">
    <title>Score</title>
  </head>
  <body>
  	<h1>Scoring Result</h1>
  	<img src="{{ url_for('static', filename = 'Score.png') }}" alt="Score"/>
	<h1>Result Analysis</h1>
	<p> A proper variable name should start with an abbreviation of data type, following by a hyphen to data name. Variables that are not properly named include: </p>
	<p> {{ improperNamedVar }}</p>
	<p> -------------------------------------------------------------------------------------------------------------- </p>
	<p> An unused variable should be deleted. Variables that are declared but not used include: </p>
	<p> {{ unusedVar }} </p>
	<p> -------------------------------------------------------------------------------------------------------------- </p>
	<p> A proper argument name should starts 'in_', 'out_', or 'io_' to annotate the argument's property. Arguments that are not properly named include: </p>
	<p> {{ improperNamedArg }} </p>
	<p> -------------------------------------------------------------------------------------------------------------- </p>
	<p> An activity should not use its default name. Activities that are not properly named include: </p>
	<p> {{ improperNamedAct }} </p>
	<p> -------------------------------------------------------------------------------------------------------------- </p>
	<p> An exception should always be recorded by a screenshot activity. Exceptions that are not handled by screenshot include: </p>
	<p> {{ noSsExp }} </p>
	<p> -------------------------------------------------------------------------------------------------------------- </p>
  	<p> An invoked workflow should always be annotated. Workflows that are invoked but are not annotated include: </p>
	<p> {{ notAnnotWf }} </p>
	<p> -------------------------------------------------------------------------------------------------------------- </p>
  	<p> An exception should always be logged. Exceptions that are not logged include: </p>
	<p> {{ noLMExp }} </p>
	<p> -------------------------------------------------------------------------------------------------------------- </p>

  </body>
</html>