@import "akoa/config";
@import "bootstrap/config";

.header {
  height: 70px;
  width: -webkit-fill-available;
  background-color: transparent;
  background: linear-gradient(
    to top,
    $akoa-sunrise 10%,
    $akoa-sunrise-light 95%
  );
  .header_text {
    float: left;
    font-size: 20px;
    color: white;
    font-weight: bold;
    line-height: 70px;
  }
  .username-cust {
    margin-left: auto;
    float: right;
    text-align: right;
    .logout-cust:hover,
    .logout-cust:active,
    .logout-cust:focus {
      font-size: 25px;
    }
  }
}
